<div>
    <h4>About</h4>
</div>
<alert type="info">Hello from ng2-bootstrap  {{ date.toDateString() }}</alert>
  <div style="display:inline-block; min-height:290px;">
    <datepicker [(ngModel)]="date" showWeeks="true"></datepicker>
  </div>

<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
  Button with data-target
</button>
<div class="collapse" id="collapseExample">
  <div class="well">
    text
  </div>
</div>
<br /><br />

<button type="button" class="btn btn-primary"
        (click)="isCollapsed = !isCollapsed">Toggle collapse
</button>
<hr>
<div [collapse]="isCollapsed" class="card card-block card-header">
  <div class="well well-lg">Some content</div>
</div>